<!DOCTYPE html>
<html lang="fr">
<head>
    
	<meta charset="utf-8">
        <title>CreArtDev</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Je suis Audrey Serin, développeur intégrateur web en région parisienne. Je vous propose mes services afin de créer votre site internet.">
        <meta property="og:url" content="http://www.creartdev.fr">
        <meta property="og:description" content="Je suis Audrey Serin, développeur intégrateur web en région parisienne. Je vous propose mes services afin de créer votre site internet.">
        <meta property="og:image" content="http://www.creartdev.fr/web/img/intro.jpg">
        <link rel="shorcut icon" type="image/svg" href="{{ asset("img/logo.ico") }}">

        
    {% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Scope+One" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ asset("/css/reset.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ asset("css/styles.css") }}">
    {% endblock %}   
    

</head>
<body>
	<header>
            {% block nav %}
            <div>
		
		<nav class="nav">
                    <img src="{{ asset("img/menu.png") }}" alt="Icône menu" id="menu-icon">
                    <ul>
                        <li><a href="#home">Accueil</a></li>
			<li><a href="#competences">Compétences</a></li>
			<li><a href="#realisations">Portfolio</a></li>
                        <li><a href="#articles">Actus</a></li>
			<li><a href="#contacter">Contact</a></li>
                    </ul>
		</nav>
            </div>
            {% endblock %}
	</header>
	<main>
            
            {% block content %}{% endblock %}
            {% block articlesSelect %}{% endblock %}
            {% block mentions %}{% endblock %}
             
	</main>
	<footer>
		<section class="container">
                    
			<a href="{{ asset("https://www.linkedin.com/in/audrey-serin-0367bba2/") }}" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			<a href="{{ asset("file/CV Audrey SERIN.pdf") }}" target="_blank">CV</a>
				
			<a href="{{ asset("https://github.com/yerdvaa") }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="mailto:audrey.serin@creartdev.fr" target="_blank"<i class="fa fa-envelope" aria-hidden="true"></i> </a>
                
                </section>      
                
                <div class="mentions">
                    <p><em>© 2017 creartdev.fr - All rights reserved.</em></p>
                    <em><a href="{{ path("mentions_legales") }}">Mentions Légales</a></em>
                </div>	
		
	</footer>

  {% block javascript %}
	<script src="{{ asset("js/utilities.js") }}"></script>
        <script src="{{ asset("js/classe/Square.class.js") }}"></script>
        <script src="{{ asset("js/classe/MasterPiece.class.js") }}"></script>

	<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		  
	<script src="{{ asset("js/jquery.lettering.js") }}"></script>
	<script src="{{ asset("js/jquery.textillate.js") }}"></script>
        <script src="{{ asset("js/jquery.parallax.js") }}"></script>

        
        <script src="{{ asset("js/main.js")}}"></script>
    {% endblock %}
	
</body>
</html>