<!DOCTYPE html>
<html lang="fr">
<head>
    
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio</title>
        
    {% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Scope+One" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ asset("css/reset.css") }}">
	<link href="{{ asset("css/animate.css") }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ asset("css/styles.css") }}">
	  <!-- Compiled and minified CSS 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">-->
    {% endblock %}   
    

</head>
<body>
	<header>
            <a href="{{ path("accueil")}}"><img src="{{ asset("img/logo.svg") }}" alt="logo">
			<!--<h1>Audrey Serin<br>
			Intégrateur Développeur Web</h1>--></a>
		
		<nav>
			<a href="#home">Accueil</a>
			<a href="#competences">Compétences</a>
			<a href="#realisations">Portfolio</a>
			<a href="#contacter">Contact</a>
		</nav>
		
	</header>
	<main>
		<!-- <div class="svgHaut">
			<svg width="100%" height="60"></svg>
		</div> -->
            
            {% block content %} {% endblock %}
            
            
		
		<!-- <div class="svgBas">
			<svg width="100%" height="60" class="svg1"></svg>
		</div> -->
	</main>
	<footer>
		<section class="container">
			<a href="{{ asset("https://www.linkedin.com/in/audrey-serin-0367bba2/") }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
			<a href="#">CV</a>
				
			<a href="{{ asset("https://github.com/yerdvaa") }}"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="#contacter"<i class="fa fa-envelope" aria-hidden="true"></i> </a>
				
		</section>
	</footer>

    {% block javascript %}
	<!-- Compiled and minified JavaScript
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>-->
	
	<script src="{{ asset("js/utilities.js") }}"></script>
        <script src="{{ asset("js/classe/Square.class.js") }}"></script>
        <script src="{{ asset("js/classe/MasterPiece.class.js") }}"></script>

	<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		  
	<script src="{{ asset("js/jquery.lettering.js") }}"></script>
	<script src="{{ asset("js/jquery.textillate.js") }}"></script>
        <script src="{{ asset("js/jquery.parallax.js") }}"></script>
        
        <script src="{{ asset("js/main.js")}}"></script>
    {% endblock %}
	
</body>
</html>
