
{% extends 'layout.html.twig' %}

{% block content %}
<section class="container">
   
    <article class="competences">
            <h2>Langages et Frameworks connus</h2>

        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
            
            <div class="grid-item">
           
                <img src="{{ asset("img/logos_languages/HTML5.png") }}" alt="logo de HTML5"/>
            </div>
            
            <div class="grid-item grid-item--width2">
                
                <img src="{{ asset("img/logos_languages/php.png") }}" alt="logo de PHP"/>
            </div>
            
            <div class="grid-item">
                
                <img src="{{ asset("img/logos_languages/css3.png") }}" alt="logo de CSS3"/>
            </div>
            
            <div class="grid-item">
                
                <img src="{{ asset("img/logos_languages/mySQL.png") }}" alt="logo de MySQL"/>
            </div>

            <div class="grid-item grid-item--width2">
                
                <img src="{{ asset("img/logos_languages/javascript.png") }}" alt="logo de Javascript"/>
            </div>

            <div class="grid-item">
                <img src="{{ asset("img/logos_languages/wordpress.png") }}" alt="logo de Wordpress"/>
                
            </div>
            
            

            <div class="grid-item grid-item--width2">
                <img src="{{ asset("img/logos_languages/symfony.png") }}" alt="logo de Symfony"/>                
            </div>

            <div class="grid-item">
                
                <img src="{{ asset("img/logos_languages/materialize.png") }}" alt="logo de Materialize CSS"/>
            </div>

            <div class="grid-item">
                
                <img src="{{ asset("img/logos_languages/bootstrap.png") }}" alt="logo de Bootstrap"/>
            </div>
        </div>
    </article>
</section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <!-- or -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
{% endblock %} 
