{% extends 'layout_accueil.html.twig' %}


{% block content %}

<section id="home">
    <div id="slide">
        <div class="slide_inside">
            
            <div class="svgHaut">
			<svg width="100%" height="60"></svg>
		</div>
            
            <img src="{{ asset("img/logo.svg") }}" alt="logo" >
                <h1 class="home">Audrey Serin</h1>
                <h1 class="home">Intégrateur Développeur Web</h1>

            <article class="anim">    
                <p>Je suis Audrey.</p>
                <p>Je suis passionnée par les nouvelles technologies. Suite à un tournant dans ma vie professionnelle, j'ai pu réalisé mes rêves et me tourner vers un métier créatif.</p> 
                <p>J'ai donc suivi une formation intensive de 3 mois à la 3W Accademy pour devenir développeur web. Dans la foulée, j'ai continué avec une formation d'un mois sur Symfony 3 et sur une initiation d'une semaine à Photoshop.
                </p>
                <p>
                    Mes prestations : 
                <ul>
                    <li><span>Création et Intégraion de site vitrine :</span> Html5, Css3, Javascript/ Jquery, Wordpress, le tout en responsive (adapté pour les tablettes et smartphones).</li>
                    <li><span>Développement sur mesure</span> avec Symfony.</li>

                </ul>
                </p>
                <p>Vous êtes à la recherche d'une prestation web ? </p>
                <p><a href="#contacter">Contactez-moi !</a></p>

            </article>
        </div>
    </div>
</section>
        
<section id ="competences" class="container">
    
   <h2>Langages et Frameworks connus</h2>
   
        <img src ="{{ asset("img/competences.jpg") }}" alt="Mes compétences" />
   
</section>

<section id="realisations" class="container">
        <h2>Portfolio - Réalisations</h2>

        <article class="realisations">
            
            <div class="animLego">
                <img src="" alt=""/>
            </div>
        </article>     
        
</section>

<section id="articles" class="container">
        <h2>Actus du code</h2>
            <p>Une sélection des articles que j'ai trouvé super intéressants sur le thème du code (ou pas!)</p>
            <p>Vous avez une préférence sur le thème? Vous pouvez sélectionner celui qui vous plaît le plus.</p>
        
        <div>  
            
            {% for article in articles %}
                
                <article>
                    <h3>{{ article.titre }}</h3>
                        {% for category in article.categorie %}    
                            <p>Catégorie: {{ category.nom }}</p>
                        {% endfor %}  
                        
                            <img src ="{{ asset("img/database/" ~ article.image ) }}" alt="" />
                        
                            <cite>{{ article.auteur }}</cite>
                            <p>{{ article.dateCreation | date("d/m/y") }}</p>
                            <q>{{ article.content | slice(0,500) }}...</q>
                            <a href="{{ article.lien }}">Pour lire cet article</a>
                </article>
            {% endfor %}
        </div>
</section>    
            
<section id="contacter" >
        <div id="slide1">
            <div class="slide_inside">
                <strong>
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="message">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </strong>
        
                <section id="contact">

                    <article>
                        <h1>Contactez-moi</h1>
                    </article>

                    <article class="form">
                        <div class="contacter">
                            <p>Besoin de plus d'informations ? Une demande de devis ?
                N'hésitez à me contacter via le formulaire ci-dessous : </p>
                        </div>

                        {{ form_start(formContact, {attr:{ novalidate:"novalidate"}} )}}


                        <div>
                            {{ form_errors(formContact.firstname, {attr: {class: "error"} } ) }}
                            {{ form_widget(formContact.firstname, {attr: {placeholder: "Votre prénom", class: "contact name"} } ) }}
                        </div>

                        <div>
                            {{ form_errors(formContact.lastname, {attr: {class: "error"} } ) }}
                            {{ form_widget(formContact.lastname, {attr: {placeholder: "Votre nom", class: "contact name"} } ) }}
                        </div>

                        <div>
                            {{ form_errors(formContact.phone) }}
                            {{ form_widget(formContact.phone, {attr: {placeholder: "Votre numéro de téléphone", class: "contact mail"} } ) }}
                        </div>

                        <div>
                            {{ form_errors(formContact.email, {attr: {class: "error"} } ) }}
                            {{ form_widget(formContact.email,
                            {
                                attr: {
                                placeholder: 'email',
                                class: "contact mail",
                                id: "votre-super-id"
                                }
                            })
                            }}
                        </div>

                        <div>
                            {{ form_errors(formContact.content, {attr: {class: "error"} } ) }}
                            {{ form_widget(formContact.content, {attr: {placeholder: "Votre message", class: "textarea"} }) }}
                        </div>


                                <button class="contact send" type="submit">Envoyer</button>

                            {{ form_end(formContact) }}
                    </article>        


        </div>
    </div>
 </section>
</section>                

{% endblock %}

