{% extends 'layout.html.twig' %}


{% block content %}

<section id="home">
    <div id="slide">
        <div class="slide_inside">
            
            <div class="svgHaut">
		<svg width="100%" height="60"></svg>
            </div>
            
                <img src="{{ asset("img/logo.svg") }}" alt="logo" >
                
            <article class="anim">    
                <p>Je suis Audrey.</p>
                <p>Je suis passionnée par les nouvelles technologies. Suite à un tournant dans ma vie professionnelle, j'ai pu réaliser mes rêves et me tourner vers un métier créatif.</p> 
                <p>J'ai donc suivi une formation intensive de 3 mois à la 3W Accademy pour devenir développeur web. Dans la foulée, j'ai continué avec une formation d'un mois sur Symfony 3 et une initiation d'une semaine à Photoshop.
                </p>
                <p>
                    Mes prestations : 
                <ul>
                    <li><span>Création et Intégraion de site vitrine :</span> Html5, Css3, Javascript/ Jquery, Wordpress, le tout en responsive (adapté pour les tablettes et smartphones).</li>
                    <li><span>Développement sur mesure</span> avec Symfony.</li>

                </ul>
                </p>
                <p>Vous êtes à la recherche d'une prestation web ? </p>
                <p><a href="#contacter">Contactez-moi !</a></p>

            </article>
        </div>
    </div>
</section>
        
<section id="competences" class="container">
   <article> 
   <h2>Langages et Frameworks connus</h2>
   
        <img src ="{{ asset("img/competences.jpg") }}" alt="Mes compétences" />
   </article>
</section>

<section id="realisations" class="container">
        <h2>Portfolio - Réalisations</h2>

        <article class="realisations">
            
            <div class="animLego">
                <img src="" alt=""/>
            </div>
        </article>
        <p>Découpage des images avec Photoshop et animation en Javascript.</p>
            <div class="projets">
                {% for realisation in realisations %}
                    <article>
                        <h3>{{ realisation.titre }}</h3>
                        <a href="{{ asset("realisations/" ~ realisation.lien) }}" target="_blank"><img src="{{ asset("realisations/" ~ realisation.image ) }}" alt="Image du projet réalisé"></a>
                        <p>{{ realisation.description |nl2br }}</p>
                    </article>
                {% endfor %}
            </div>
            
        
</section>

 <section id="articles" class="container">
    
        <h2>Actus</h2>
            <article>
                <p>Une sélection des articles que j'ai trouvé super intéressants sur le thème du code (ou pas!)</p>
                <p>Vous avez une préférence sur le thème? Vous pouvez sélectionner celui qui vous plaît le plus.</p>
            </article>
        
            <div>
                <form action="{{ path("articles") }}" method="POST">
                    <select name="cat" id="select">
                        
                        {% for categorie in catSelect %}
                            <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                        {% endfor %}
                    </select>
                    <button id="btn"> OK </button>
                </form>
            </div>   
                
            <div class="articles">  
                {% for article in articles %}
                    <article>
                       <h3>{{ article.titre }}</h3>
                            <p class="categorie">Catégorie: {{ article.categorie.nom }}</p>
                            <p class="categorie">Source: {{ article.source.nom }}</p>

                            <img src ="{{ asset("img/database/" ~ article.image ) }}" alt="" />

                            <p><cite>{{ article.auteur }}</cite></p>
                            <p>{{ article.dateCreation | date("d/m/y") }}</p>
                            <q>{{ article.content | slice(0,400) }}...</q>
                            <a href="{{ article.lien }}">Pour lire cet article</a>
                    </article>
                {% endfor %}
            </div>   

  </section>             

        {% include "default/contact.html.twig" %}
                           
{% endblock %}

